
.dingen{
    display: flex;
    flex-direction: column;
}


.hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin-top: 70px;
    width: 100%;
    height: 10em;
    background-color: #9a8b6d;
}

.karate, .gamen, .gym{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 30em;
    background-color: #4f462e;
    margin: 15vh 40vh;
    padding: 2vh;
    border-radius: 20px;
}

